# Loops

In [2]:
i=1
while i<7:
    print(i)
    if i==4:
        break
    i +=1

1
2
3
4

In [8]:
i=1
while i<7:
    i+=1
    if i==4:
        continue
    print(i)

2
3
5
6
7

# For Loops

In [12]:
fruits=['lemon','banana','mango']
for i in fruits:
    print(i)
    if i=='banana':
        break

lemon
banana

In [13]:
# looping through a string
for i in 'Python':
    if i=="t":
        continue
    print(i)

P
y
h
o
n

In [14]:
# using range in looop
for i in range(1,7):
    print(i)

1
2
3
4
5
6

In [16]:
for i in range(2,30,3):
    print(i)
else:
    print('Finally completed')

2
5
8
11
14
17
20
23
26
29
Finally completed

In [21]:
for i in range(1,7):
    if i==6:
        break
    print(i)

1
2
3
4
5

In [19]:
for num in range(2,-5,-1):
    print(num, end=", ")

2, 1, 0, -1, -2, -3, -4,

In [20]:
x = 0
for i in range(10):
  for j in range(-1, -10, -1):
    x += 1
    print(x)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90