In [1]:
def fun():
    print('Hi This is Funtion')

In [2]:
# Calll the Function 
fun()

Hi This is Funtion

In [3]:
def Hi_fun(name):
    print('Hi '+name)
Hi_fun('Kashif')

Hi  Kashif

In [4]:
Hi_fun('Asad')

Hi  Asad

In [5]:
def Hi_fun(name='Bilal'):
    print('Hi '+name)
Hi_fun()

Hi  Bilal

In [6]:
# inserting a list in Python

def fruit(name):
    for i in name:
        print(i)
        
list=['Apple','Banana','watermelon']
fruit(list)

Apple
Banana
watermelon

#  Return and Express

In [7]:
def deg(x):
    return 15*x

print(deg(3))

45

In [8]:
def player(name1,name2,name3):
    print("the first name is "+name1)
    print('the second name is '+name2)
    print('the third name is '+name3)
    
print(player(name1='kashif',name2='Ahtisham',name3='Bilal'))

the first name is kashif
the second name is Ahtisham
the third name is Bilal
None

In [13]:
# Arbitary Parameter
def fruit(*name):
    print('the name is '+name[1])
    
fruit('Apple','Mango','Banana')

the name is Mango

# Recusive  Function

In [14]:
def no(n):
    if(n>0):
        result=n+no(n-1)
        print(result)
    else:
        result=0
    return result

no(4)

1
3
6
10

10

In [16]:
x= lambda i:i+10
print(x(5))

15

In [2]:
cal=lambda x ,y :x * y
print(cal(7,7))

49

In [3]:
math=lambda x,y,z:x+y+z
print(math(3,5,7))

15

# lambda use in user define Function

In [4]:
def mul(n):
    return lambda x:x*n
double=mul(2)
triple=mul(3)

print(double(10))
print(triple(10))

20
30