In [2]:
set1={'Apple','fig','mango'}
print(set1)

{'fig', 'Apple', 'mango'}

In [3]:
type(set1)

set

In [4]:
len(set1)

3

In [5]:
set2={'banana','Apple','orange'}
set3={1,3,4,65,6,7,6}
set4={False,True,False}

print(set2)
print(set3)
print(set4)

{'orange', 'Apple', 'banana'}
{65, 1, 3, 4, 6, 7}
{False, True}

In [6]:
mixset={True,'python',2,4,3.4}
print(mixset)

{True, 2, 3.4, 4, 'python'}

In [7]:
# we create a set with another way
fruit=set(('Banana','Apple','Fig'))

In [8]:
fruit # we can't access the specifie value

{'Apple', 'Banana', 'Fig'}

In [9]:
for x in fruit:
    print(x)

Apple
Banana
Fig

In [10]:
print('Apple' in fruit)

True

In [11]:
# we Add items in sets
fruit.add('orange')
print(fruit)

{'orange', 'Apple', 'Banana', 'Fig'}

In [12]:
fruit.update(['lemon','cherry'])
print(fruit)

{'Banana', 'lemon', 'cherry', 'orange', 'Apple', 'Fig'}

In [14]:
# remove item from the set
fruit.remove('lemon')
print(fruit)

{'Banana', 'cherry', 'orange', 'Apple', 'Fig'}

In [17]:
# discard method not show error if remove itemm not exists 
fruit.discard('cherry')
print(fruit)

{'Banana', 'orange', 'Apple', 'Fig'}

In [19]:
x=fruit.pop()
print(x)

print(fruit)

orange
{'Apple', 'Fig'}

In [20]:
fruit.clear()

In [21]:
# Also we use the Del function to remove the set
del fruit

In [22]:
fruit

NameError: name 'fruit' is not defined

In [23]:
set1 = {"Yellow", "Orange", "Black"}
set2 = {"Orange", "Blue", "Pink"}
 
set1.difference_update(set2)
print(set1)

{'Black', 'Yellow'}

In [24]:
set1 = {10, 20, 30, 40}
set2 = {50, 20, "10", 60}
 
set3 = set1.union(set2)
print(set3)

{40, 10, 50, 20, '10', 60, 30}